---
import ContentSection from "~/components/layout/content-section.astro";
import { Image } from "@astrojs/image/components";
import luis from "~/assets/team/luis.jpeg";
import eduard from "~/assets/team/eduard.png";
import moritz from "~/assets/team/moritz.jpg";
import ronny from "~/assets/team/ronny.png";
import Icon from "astro-icon";

const features: {
  name: string;
  description: string;
  image: ImageMetadata;
  social?: {
    site: string;
    link: string;
  }[];
}[] = [
  {
    name: "Eduard von Briesen",
    description:
      "Currently employed as a frontend software engineer, he completed his bachelor's degree in computer science at TUM and continued his studies in Human-Computer Interaction at Ludwigs Maximalians University in Munich, fueled by a passion for innovative solutions that prioritize people.",
    image: eduard,
    social: [
      {
        site: "linkedin",
        link: "https://www.linkedin.com/in/eduard-von-briesen-5b750b1b5",
      },
      {
        site: "instagram",
        link: "https://www.instagram.com/eduardvonbriesen/",
      },
      {
        site: "language",
        link: "https://eduard.codes/",
      },
      {
        site: "github",
        link: "https://github.com/EduardvonBriesen",
      },
      {
        site: "email",
        link: "mailto:e.v.briesen@gmail.com",
      },
    ],
  },
  {
    name: "Luis Sütter",
    description:
      "Luis Sütter has been studying cinema and television directing at the University of Television and Film Munich since 2018. Previously, he graduated with a Bachelor of Arts in Film Studies and Audiovisual Publishing from Johannes Gutenberg University Mainz. He firmly believes in the reality of the dreamlike in images.",
    image: luis,
    social: [
      {
        site: "linkedin",
        link: "https://www.linkedin.com/in/luis-s%C3%BCtter-08196a202/",
      },
      {
        site: "instagram",
        link: "https://instagram.com/luissuetter",
      },
      {
        site: "email",
        link: "mailto:luis.suetter@campus.hff-muc.de",
      },
    ],
  },
  {
    name: "Ronny Kohlhaus",
    description:
      "Ronny Kohlhaus has been studying computer science at Ludwig-Maximilians-Universität Munich since 2021. In the course of his master's thesis, he is currently working on the topic of Neural Radiance Fields in the context of film production. His several years of experience as a software engineer enable him to better understand the needs of people and to successfully implement visions.",
    image: ronny,
    social: [
      {
        site: "linkedin",
        link: "https://www.linkedin.com/in/kohlhaus/",
      },
      {
        site: "instagram",
        link: "https://www.instagram.com/ronny.khs/",
      },
      {
        site: "github",
        link: "https://github.com/rkohlhaus",
      },
      {
        site: "email",
        link: "mailto:r.kohlhaus@campus.lmu.de",
      },
    ],
  },
  {
    name: "Moritz Fortunat Schlögell",
    description:
      "Moritz Fortunat Schlögell has been studying Feature Film and Television Feature at the University of Television and Film Munich since 2016. In addition to his freelance work as a writer and director, Moritz organizes seminars on storytelling in games and works as an installation artist. Most recently, Moritz was awarded the Young Ones ADC in Gold in 2021.",
    image: moritz,
    social: [
      {
        site: "linkedin",
        link: "https://www.linkedin.com/in/moritz-fortunat-schl%C3%B6gell-13798a283/",
      },
      {
        site: "instagram",
        link: "https://www.instagram.com/moritzschloegell/",
      },
      {
        site: "language",
        link: "http://moritzschloegell.de/",
      },
      {
        site: "email",
        link: "mailto:kontakt@moritzschloegell.de",
      },
    ],
  },
];
---

<ContentSection title="Team" id="team">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2">
    {
      features.map(({ name, description, image, social }) => (
        <li class="bg-offset m-4 flex flex-col items-center gap-4 p-6">
          <div class="">
            <Image
              class="rounded-full grayscale"
              src={image}
              alt={name}
              aspectRatio="1:1"
              width={300}
              height={300}
            />
          </div>
          <p class="text-center font-mono text-xl lowercase">{name}</p>
          <p class="text-offset h-full text-center text-sm ">{description}</p>
          <div class="flex items-center gap-4">
            {social?.map(({ site, link }) => (
              <a
                class="h-10 w-10"
                href={link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon class="cursor-pointer" pack="mdi" name={site} />
              </a>
            ))}
          </div>
        </li>
      ))
    }
  </ul>
</ContentSection>
